@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap");

:root{
    background: #323437;
    color: #e2b714;
    font-family: Lexend Peta;
}

* {
    box-sizing: border-box;
    border: none;
    outline: none;

}

.parent{
    display: grid;
    grid-template-areas: 
        "head head head"
        "content content side"
        "foot foot foot";
    position: relative;
    grid-template-rows: 50px auto 50px;
    gap: 10px;

}

.header{
    grid-area: head;
    display: flex;
    align-items: center;

}


.footer{
    align-self: baseline;
    grid-area: foot;
    outline: dashed darkgreen;
}
