@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap");

:root{
    background: linear-gradient(145deg, #1a1a1a, #0d0d0d);
    color: #e2b714;
    font-family: Lexend Peta;
}

* {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 10px;
}

.parent{
    display: flex;
    flex-direction: column;
    position: relative;
    grid-template-rows: 50px auto 50px;
    gap: 10px;

}

.header{
    grid-area: head;
    display: flex;
    align-items: center;
}


.footer{
    grid-area: foot;
    display: flex;
    align-items: center;

}

.footer-text{
    font-size: 10px;
}

img{
    width: 50px;
}