.timer{
    grid-template-areas: 
    "timer timer timer"
    "time time time"
    "btn btn btn"
    ;
    
    grid-area: content;
    height: 500px;
    border: 1px solid #ccc; /* Optional border for visibility */
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px); /* Blur the background behind */
}

.timer-btn-container{
    display: flex;
    grid-area: timer;
    justify-content: space-evenly;
}

.timer-btn{
    display: inline-block;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s all ease;
    background: transparent;
    margin-top: 10px;
}


.timer-btn:hover{
    color: #e2b714;
    transition: 0.4s all ease;
}

.timer-btn:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #e2b714;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.timer-btn:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.time-container{
    display: flex;
    grid-area: time;

    justify-content: center;
    height: 75%;
    align-items: center;
    margin-top: 5px;
}

header{
    font-size: 80px;
}

.user-btn-container{
    display: flex;
    justify-content: center;
    grid-area: btn;
    
}

.user-btn{
    font-size: 50px;
    cursor: pointer;
    background: transparent;
}

.user-btn:hover{
    transform: scale(0.85);
    transition: 0.5s all ease;
}

.user-btn.clicked{
    transform: scale(0.80);
}
