.task-container{
    display: flex;
    flex-direction: column;
    grid-area: side;
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid #ffffff10;
    border-radius: 1em;
    min-width: 400px;
    min-height: 500px;
    max-width: 1200px;
    max-height:  500px;


    width: 400px; /* Set a fixed width for the container */
    height: 500px; /* Set a fixed height for the container if needed */
    overflow: auto; /* Allow scrolling if content exceeds the container */
    resize: both; /* Allow resizing both horizontally and vertically */
    box-sizing: border-box;
    position: relative; /* Required for positioning the resizer */
    scrollbar-width: none;
}

.task-header{
    display: flex;
    align-items: center;
    padding-left: 10px;
}


.add-task-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.add-task{
    font-size: 25px;
    background: transparent;
    color: grey;
    cursor: pointer;
}

.task-list{
    grid-area: task;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
li  {
    display: flex;
    width: 100%;
    gap: 1em;
    border: 2px solid #ffffff10;
    list-style: none;
    border-radius: 1em;
    justify-content: flex-end;
    
}

.task{
    width: 100%;
}

.task-btn-container{
    align-self: flex-end;
}

.task-btn{
    cursor: pointer;
    justify-content: center;
    background: transparent;
}

.input-container{
    display: flex;
    border-radius: 1em;
    justify-content: center;
    border: 2px solid #ffffff10;
}

button {
    background: transparent;
}
input{
    background: transparent;
}

.middle{
    display: flex;
    flex-direction: row;
    gap: 1em;
}